# https://docs.github.com/fr/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# @la-grappe-numerique/communities-leaders will be requested for
# review when someone opens a pull request.
*       @la-grappe-numerique/communities-leaders

# Order is important; the last matching pattern takes the most
# precedence.

/aws-bordeaux/ @clark42
/mtg-bordeaux/ @TechWatching @cbonnaud @xaviernoya
/agile-bordeaux/ @chrisdeniaud
/agile-tour-bordeaux/ @BenayounP
/aquilenet/ @pamplemousse
/aquinum/ @BenayounP @murlock
/bdx-io/ @abenoit
/bordeauxjs/ @murlock @florianvdp
/bordeauxkt/ @CLOVIS-AI
/cloud-native-bordeaux/ @clark42
/creative-coding-bordeaux/ @ilesinge
/digitalnights/ @ChaGraphics
/framer-bordeaux/ @yannbellot
/okiwi/ @pamplemousse
/bordeauxjug/ @piradix

/.github/ @clark42
**/events_src.json @clark42
